# Build outputs
.next
build

# Dependencies
node_modules

# Fumadocs generated
.source

# Environment files
.env*
.env.development
.env.production
.env.local
.env.*.local

# Testing
coverage

# OS
.DS_Store

# Editor
.vscode
.idea
